
  @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


$font-family-fraunces:'Fraunces',sans-serif;
$font-family-barlow:'Barlow',sans-serif;
$font-weight-fraunces:600;
$font-weight-barlow1:700;
$font-weight-barlow1:900;
$font-size:18px;
