@use 'src/SCSS/font';
@use 'src/SCSS/color';

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  /*body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }*/
  header{
    background-image: url('/images/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
   
    position: relative;
   
    
  }
  .header-img-x-screen{
    height:clamp(100px,100vh,500px);
    border:1px solid hotpink
  }
  .heading{
    border:1px solid black;
    padding-top:1.5em ;
  }
  
  @media screen and (min-width:350px){
    header{
      background-image: url('/images/desktop/image-header.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      width: 100vw;
      height:100vh;
    
    
  }
  .heading{
    display: flex;
    justify-content: flex-start;
    padding-top: 1em;
   
  }
}
  .icon-hamburger{
    position: absolute;
    right: 30px;
    top:15px;
    border: 1px solid black;
  }
  .topnav{
    display:none;
    
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }
  li a,.dropbtn{
    text-decoration: none;
    display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  }
  
  li.dropdown {
    display: inline-block;
  }
  li a:hover, .dropdown:hover .dropbtn {
   
    z-index: -1;
 
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  li a.active{
    background-color: color.$white;
    color:black;
    border-radius: 2em;
  }
 li a.active:hover{
  color:white;
  background-color: rgba(255, 255, 255, 0.5);;
  position: relative;
  z-index:1;
  opacity: 10%;
 }
    
  
  .logo{
    width: 30%;
    margin-left:2rem;
    border: 1px solid black;;
  }
  h1{
    display:block;
    text-align: center;
    color: color.$white;
    margin-top: 3.5em;
    font-family: font.$font-family-fraunces;
    font-weight: font.$font-weight-fraunces;
    border: 1px solid black;
  }
  @media screen and (min-width:750px){
    .icon-hamburger{
      display:none;
    }
    .topnav{
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
      position: absolute;
      right:60px;
      font-size: font.$font-size;
      font-family: font.$font-family-barlow;
      border:1px solid black;

    }
    h1{
      font-size: 3rem;
      letter-spacing: 10px;
      white-space: nowrap;
      margin-top: 1em;

    }
  } 
  .arrow{
    display:block;
    margin:0 auto;
    padding-top:2em ;
  }
  @media screen and (min-width:750px){
    .arrow{
      padding-top: 0.5em;
    }
  }
  .about-Services{
    display: grid;
    grid-template:1fr 1fr 1fr/1fr 1fr;
  }
  img,  svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }